package com.ineco.repository;

import com.ineco.model.Oficina;
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;
import java.util.Optional;

@Repository
public interface OficinaRepository extends JpaRepository<Oficina, Long> {

    // Método personalizado para buscar una oficina por su código de Ineco
    Optional<Oficina> findByCodigoOficina(String codigoOficina);
    
    // Método para verificar si ya existe una oficina con un nombre concreto
    boolean existsByNombre(String nombre);
}
